.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 430px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .popup__container {
    width: 88%;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    width: 282px;
  }
}
